.panelRow {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
}

.Button {
  width: 25%;
  height: 100%;
  border: darkgray 1px solid;
  color: #000;
  font-size: 25px;
}

.Button-0 {
  width: 50%;
}

.Button-r {
  background-color: #fd9032;
}