.display {
  height: 100px;
  background-color: #777485;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.displayDivs {
  min-height: 15px;
  padding: 5px;
}

.ft-r {
  align-self: flex-end;
  font-weight: bold;
}
